<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  </head>
  <body>

    <a href="{{ url_for('add_author') }}">Add Author</a>
    <br/>
    <a href="{{ url_for('add_book') }}">Add Book</a>

    <form action="{{ url_for('home') }}" method="GET">
      <label for="sort">Sort by:</label>
      <select id="sort" name="sort">
        <option value="title" {% if sort == 'title' %}selected{% endif %}>Title</option>
        <option value="author" {% if sort == 'author' %}selected{% endif %}>Author</option>
      </select>
      <input type="submit" value="Sort">
    </form>

    {% for book in books %}
    <div>
      <img src="https://covers.openlibrary.org/b/isbn/{{ book.isbn }}-M.jpg" alt="Cover of {{ book.title }}">
      <h3>{{ book.title }}</h3>
      <p>{{ book.author.name }}</p>
    </div>
    {% endfor %}

  </body>
</html>